[*.cs]

# CA1416: Проверка совместимости платформы
dotnet_diagnostic.CA1416.severity = none

# IDE1006: Стили именования
dotnet_diagnostic.IDE1006.severity = none

# IDE0090: Используйте "new(...)".
dotnet_diagnostic.IDE0090.severity = none
